<div class="containernohome">
<div class="col-md-12"><br /><br />
<h3>PRIVACY POLICY:</h3>
<p>
BDI Music Limited (“BDI”, "we", “us”, “our”) are committed to protecting and respecting your privacy.<Br /><br />
This privacy policy informs you on how and for what purpose your personal data will be processed by us in connection with your visit to and our use of this website. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. Our website acts in accordance with the applicable data protection legislation. </p><br /> 
<h2>
INFORMATION WE MAY COLLECT FROM YOU</h2>
<p>We may collect and process the following data about you:<br />
<ul>
  <li><p>
• Information that you provide by filling in forms on http://www.bdimusic.com ("our site"). This includes information provided when you complete our on-line accounts form and enquiry form.</p>
</li> 
<li><p>
• Details of your visits to our site including, but not limited to, traffic data, location data, weblogs and other communication data, whether this is required for our own billing purposes or otherwise and the resources that you access.</p>
</li> 
<li><p>
• If you subscribe to any services that we may offer you from time to time, you will obviously have to submit your email address as well as any other data necessary for the provision of the service. If you contact us directly, which will require you submitting personal data, including as to your name and email address, along with the content of your request, we will and use such data in order to fulfil your corresponding request. We may keep a record of your correspondence. Your data will not collected, stored or used in any other or for any other purpose.</p>
</li>
</ul> 
</p>
<h2>
IP ADDRESSES, COOKIES AND SOCIAL MEDIA PLUGINS</h2>
<p>We may collect information about your computer in a variety of ways, including:<ul><li><p>
<b>IP Addresses: </b>An Internet Protocol (IP) address is a number that is automatically assigned to your device when you are accessing our website by your Internet Service Provider (ISP), and is identified and logged automatically in our server files whenever you visit our website, along with the exact time when you accessed and left our website, the amount of activity on our website, including as to data transmitted, and the pages you have accessed on our website. We and our service providers use IP addresses and general log file data for statistical purposes, such the size of our users, usage patterns including determining peak times of use of our website, information which is of most interest to our users, which browsers and operating systems our users use, what approximate geographic location our users are located, and any information to help us diagnose server problems.  If our web servers detect any errors in processing requests, it will send the corresponding details to an error log file. These error log files will record the users IP address from which the request was sent for technical reasons and will be used to diagnose and repair the error.  This is statistical data about our users browsing actions and patterns, and does not identify any individual.</p>
</li> 
<li><p>
<b>Cookies: </b> We and our service providers use cookies, pixel tags and other technologies. Cookies are a piece of text stored on your computer by your web browser and more information can found about cookies on http://www.allaboutcookies.org/. Our website uses session cookies which allow us to identify the same user over a session on our website and will store information across more than one webpage so you, as the user, will not have to reinsert the same data or reset your personal settings again. You can choose to decline cookies and discontinue the use, but you may not have the full benefit, features, functionality and promotions available to you.  If you choose to decline cookies, by activating the setting on your browser which allows you to refuse the setting of cookies, you may be unable to access certain parts of our website. Unless you adjust your browser settings so it will refuse cookies, our website will issue cookies when you log on to our website. </p>
</li> 
<li><p>
<b>Social Media Plug-Ins: </b> On certain pages of our website we may employ so called social media plugins, in particular Facebook Inc’s “Like” button and Twitter, Inc’s Twitter buttons, or any other application platform. When you visit a page that displays one or more of these buttons your browser will establish a direct connection to the respective website, Facebook, Twitter, Soundcloud, YouTube and/or Spotify and will load a button from that website. At the same time, these websites will know that that the respective pages on our website has been visited. This Privacy Policy does not address, and we are not responsible for the privacy and practices of any third party, including but not limited to Facebook, Twitter, Soundcloud, YouTube and/or Spotify. We have no influence on the policies and practices of third parties and the basis on which they collect data. We will not receive any information from third parties about which social media buttons you may have clicked on or viewed on our website and for more information on the subject, please see the section below on Third Party Sites.  </p> 
</li>
</ul>
</p>
<h2>
GOOGLE ANALYTICS</h2>
<p>
This website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses “cookies”, (see above) to help the website analyze how users use the site. The information generated by the cookie about your use of the website (including your IP address, when you visited the website, the referrer URL (“Uniform Resource Locator” and details on your operating system) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of the website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google's behalf. Google will not associate your IP address with any other data held by Google. You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. By using this website, you consent to the processing of data about you by Google in the manner and for the purposes set out above. You will find further information on Google and Google Analytics at https://policies.google.com/privacy. 
</p>
<h2>
THIRD PARTY SITES </h2><p>
We are not responsible for the information policies or practices of third party sites or any area of our website which is or may be operated by third parties. All third party sites linked to our website may have different policies and practices and you should carefully review these policies to determine how each third party uses your personal information.</p> 
<h2>STORING YOUR PERSONAL DATA</h2><p>
We will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this privacy policy. <br /><br />
Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorised access.</p>
<h2>USES MADE OF THE INFORMATION</h2><p>
We use information held about you in the following ways:<br />
<ul>
  <li><p>
• To respond to your queries and fulfil your requests, such as sending you newsletters or providing you with information about our products or services. </p>
</li> 
<li><p>
• To send you administrative information, including notifications about changes to our terms, conditions and policies. </p>
</li> 
<li><p>
• To carry out our obligations arising from any contracts entered into between you and us.</p>
</li> 
<li><p>
• We may also use your data, or permit selected third parties to use your data, to provide you with marketing communications that may be of interest to you, if you have indicated that you wish to receive this type of information. </p>
</li> 
<li><p>
• For business purposes, such as data analysis, enhancing the website, identifying trends in usage, and determining the effectiveness of the website and any campaigns. </p>
</li> 
<li><p>
• Data relating to your personal information if it is necessary or appropriate (i) under the applicable law (which will include laws outside your country of residence); (ii) compliance with legal processes; (iii) responses to requests from public or government authorities, including those authorities outside your country of residence; (iv) enforce our terms and conditions; (v) protect our rights, safety or property or (vi) protect you or others rights, safety or property or (vii) to allow us to pursue any available remedies or limit any damages sustained </p>
</li>
</ul></p>
<h2>DISCLOSURE OF YOUR INFORMATION</h2><p>
We may disclose your personal information to third parties:<br />
<ul>
  <li><p>
• In the event that we acquire or merge with another company, sell or buy any business or assets, reorganises, in which case we may disclose your personal data to that other relevant company; or</p>
</li> 
<li><p>
• If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the rights, property, or safety of us, our clients, or others; or </p>
</li>
<li><p>
• Disclosure is necessary to fulfil any existing obligations or enforce any claims against you; or</p>
</li> 
<li><p>
• We are bound to disclose any information by law. </p>
</li>
</ul></p>
<h2>YOUR RIGHTS</h2><p>
You have the right to ask us in writing, always pursuant to the applicable laws and legislation, which of your personal data (if any) was collected and stored during your visit to our website. If you would like to review, update or deleted or otherwise limit our use of your personal data that you have previously provided to us, please contact us via email at info@bdimusic.com. <br /><br />
If you choose to make such a request, please be clear in what personal data you would like changed or removed or if you are asking us to limit the use of your personal data, what data you are happy for us to retain and we will try to comply with your request as reasonably practicable. We will need to retain certain information to perform our obligations and there may be information that we will required to keep pursuant to statutory regulations. <br /><br />
Our site may, from time to time, contain links to and from the websites of third parties. If you follow a link to any of these websites, please note that these websites have their own privacy policies and that we do not accept any responsibility or liability for these policies. Please check these policies before you submit any personal data to these websites.</p>
<h2>CHANGES TO OUR PRIVACY POLICY</h2><p>
Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate, notified to you by e-mail.</p>
<h2>CONTACT</h2><p>
If you have any questions, comments and requests regarding this privacy policy, please feel free to contact us at:<Br /><br />
BDI Music Limited <br />
Roundhouse<br />
212 Regents Park Road<br />
London<br />
NW1 8AW<br /><br />
Email:  info@bdimusic.com<br />
Tel: +44 (0)20 7221 4275
<br /><br />
</p>

</div>
</div><br /><br />
