<h1><%= @press.title %></h1>
 <%= image_tag @press.photo.url %><br />
    <%= @press.body %><br /><br />

Artists:  
 


  
<%= link_to "Back To press", presses_path, :class =>  "btn-primary", :method => :get  %>  



