<div class="containernohome"><br /><br /><br /><br />
<h2>Sign up</h2>

<h3>We do not allow sign ups - if you would like to request an account please click Support to email us</h3><br />
<%= render "devise/shared/links" %>
</div>