
    <h3 class="arttit md2right besocial">Be Social <hr class='sidebar'></h3>
    <img src="http://www.fabcampbell.com/test/face.png" width="30px"> <img src="http://www.fabcampbell.com/test/twitter.png" width="30px"> <img src="http://www.fabcampbell.com/test/youtube.png" width="30px"> <img src="http://www.fabcampbell.com/test/sound.png" width="30px">   
    <h3 class="arttit md2right recentpost">Recent News <hr class='sidebar'></h3>
    <ul class="recentnews">
 <% @recentnews.each do |article| %>
 <li><%= link_to article.title, article_path(article) %> 
 </li>
 <% end %>
 </ul>

 <h3 class="arttit md2right recentpost">Recent Press <hr class='sidebar'></h3>
    <ul class="recentnews">
 <% @recentpress.each do |press| %>
 <li><%= link_to press.title, press_path(press) %> 
 </li>
 <% end %>
 </ul>

 <h3 class="arttit md2right recentpost">Recent Awards <hr class='sidebar'></h3>
    <ul class="recentnews">
 <% @recentawards.each do |award| %>
 <li><%= link_to award.title, award_path(award) %> 
 </li>
 <% end %>
 </ul>
  </div>
</div>
<div class="clear"></div>
<style>

</style>

