<div class="main-page-header">
  <div class="m-p-h">
    <%= link_to 'Home', root_path %>  <span class="break">></span>  
    <%= link_to @page_title %>   
    <br /><br /> 
      <span class="artist-name-main"><%= page_title %></span> 
    <br /><br />
  </div>
</div> 
  <br />  <br />  
