<div id="one">
  <div class="containernohome" id="banner">
   <div class="row"> 
    <div style="float:left">
        <ul class="loginetc">
          <li>
            <%= link_to 'Login', new_user_session_path, :class => 'btn-flat ' %>
          </li> 
          <li>
            <%= link_to 'Admin', admin_path, :class => 'btn-flat' %>
          </li>
          <li>
            <a class="btn-flat">Support</a>
          </li>
        </ul> 
    </div>
     
    <div style="float:right">
     <section>
      <ul class="social-buttons" id="demo3">
        <li class="social">
          <div class="entypo-facebook"></div>
        </li>
        <li class="social">
          <div class="entypo-twitter"></div>
        </li>
        <li class="social">
          <div class="entypo-vimeo"></div>
        </li>
        <li class="social">
          <div class="entypo-login"></div>
        </li>
      </ul>
    </section>
    </div> 
   </div>
  </div>
</div>