<h1><%= @award.title %></h1>
 <%= image_tag @award.photo.url %><br />
    <%= @award.body %><br /><br />

Artists:  
 


  
<%= link_to "Back To Awards", awards_path, :class =>  "btn-primary", :method => :get  %>  



