 <div class="container">
<div class="page-title">
<h2>Contact</h2>
</div>
  <div class="news">

  <br /><br />

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.267566898311!2d-0.19897600000000978!3d51.508307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760ffb478a3fb3%3A0xd51dc521356f793e!2sBucks+Music+Ltd!5e0!3m2!1sen!2suk!4v1426589339977" width="100%" height="450" frameborder="0" style="border:10px solid white"></iframe> 
  <br /> <br />
<div class="col-md-8">
  <p>BDi Music is based in Notting Hill Gate, next door to the Uxbridge Arms<br /><br />
  Onward House<br />11 Uxbridge Street <br />London<br />W8 7TQ<br /><br />T: 0207 243 4101<br />F: 0207 243 4131<br />E: info@bdimusic.com </p>
  </div>
  </div>
  </div>
  <style>.col-md-8 {background-color:white; width:100%; }
  .col-md-8 p {padding:1em; }
  </style>
  