/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope. 
 *= require_tree .
 *= require_self
 */

$bdi-green: #767c60 ; 
$dark-green: #525740; 

@import 'bootstrap-sprockets';
@import 'bootstrap';

/******** GENERAL ********/

html {height:100%; }
body { height:100%; min-height:100%; width:100% !important;  background-color: #eeeeee !important; font-family: 'Roboto', sans-serif !important; font-size:14px; line-height:1.5;}
a { text-decoration:none !important; color:#767c60 ;}
a:hover { text-decoration:none !important; color: $dark-green;} 
ul { list-style-type: none; padding: 0;}
.clear { clear: both; }
.right { float:right; text-align:right;}
h1, h2, h3, h4, h5, h6 { color: $bdi-green; }
img.mainlogo {width:10%; float:left; margin-top:-10px;} 
/******** GENERAL ********/
.container {margin: auto; width:100%; max-width:1250px !important; padding:0px;}
.container-fluid {margin: auto; width:100%; max-width:1250px !important; padding:0px;}
/******** SEARCH FILTER ********/
td.last {padding-top:35px; border:0;}
table.tablesearch { width:100%; padding:0px; border:0;}
table.tablesearch td { width:25%; padding-left:0px; padding-right:15px; border:0;}
table.tablesearch  label{ font-weight:bold !important; color: $bdi-green;}
.login { width: 50%;
margin: auto;
padding: 4em; }
.title { 
position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

padding:0.5em;  color:$bdi-green; font-weight:normal;}
.blur {}
.blur img{filter: brightness(0.6);
// Browser Specific
-webkit-filter: brightness(0.6);
-moz-filter: brightness(0.6);
-o-filter: brightness(0.6);
-ms-filter: brightness(0.6);}
.blur img:hover{filter: brightness(1);
// Browser Specific
-webkit-filter: brightness(1);
-moz-filter: brightness(1);
-o-filter: brightness(1);
-ms-filter: brightness(1);}
.blur h4 a { }
 .blur h4 { max-width: 340px; width:auto; float:left; z-index: 1;    font-weight:900; top:10px; position:absolute;  color:white!important;  text-transform: capitalize;}
span.title2line {  float: left;
  margin-top: 20px;
  margin-left: -10px;
  position: relative;
  padding: 10px 0;
  border-bottom: 1px solid;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

padding:0.5em;  color:$bdi-green; font-weight:normal;}
  /******** NAV ********/
      .sectone {padding: 0.5em 1.5em; float:right; display:inline-block; background-color:$bdi-green;color:white }
       .secttwo {padding: 0.5em 1.5em; float:right; display:inline-block;background-color:$bdi-green;color:white }
    .secttwo h3 {color:white; margin-top:10px; font-weight:normal}
      .sectone h3 {color:white;margin-top:10px; font-weight:normal}
  nav {margin:auto; background-color:white !important; top:0; font-size:110%; font-weight:normal }
  ul.nav {float:right;}
  ul.nav li:hover {background-color:white;}
  li.active {background-color:white !important;}
  .collapse {float:right;}
  small, .small {font-size:110%;}
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {background-color:white; color: $bdi-green}
  nav.navbar-static-top {background-color:$bdi-green !important;}
  nav.bottnav {margin-top:-20px;}
  button.btn.btn-default.search{ background-color:white !important; color: $bdi-green !important;}
  .footer{ background-color:$bdi-green !important; color: white !important;}
  ul.nav.navbar-nav.navbar-right {padding-right:20px;}
  .navbar-default .navbar-nav > li > a {color:white;}
 /******** HOMEPAGE ********/

 figure {background-color:white; margin-bottom:2em; border-bottom: solid 1px #ccc;}
 figcaption {padding:1.5em;}
 h4 {font-weight:bolder; font-size:20px;}
 .btn-default{background-color:$bdi-green; color:white; padding:0.5em 1em;}
 .btn-default:hover{background-color:$dark-green; color:white;}
 .date {padding-bottom:0.5em;}


 /******** ADMIN PANEL ********/

.imagethumb { max-width: 120px; }

table th.id { width: 3%; }
table th.title { width: 14%; }
table th.body { width: 22%; }
table th.created { width: 12%; }
table th.updated { width: 12%; }
table th.image { width: 18%; }
table th.edit { width: 19%; }
table th.useremail { width: 23%; } 
table th.usercreated { width: 17%; }
table th.userlast { width: 27%; }
table th.usercount { width: 14%; }  
table th.relbody { width: 50%; }
table th.relimage { width: 18%; }

table { width: 100%; overflow: hidden; white-space: nowrap; }
table td { vertical-align: top; max-width:120px; padding:10px; border-bottom: 1px solid #c5c5c5; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
table th { padding:10px; border-bottom: 1px solid #c5c5c5; }
tr:nth-child(even) { background-color: #e7e7e7; }

 
textarea {min-height:200px;} 
hr { margin-top: 20px; margin-bottom: 20px; border: 0; border-top: 1px solid #a5a898;}
.btn-success { background-color: $bdi-green !important; border-color: $bdi-green !important; }

nav li a:hover {color:$bdi-green !important;}
ul.dropdown-menu li a {color:$bdi-green !important;}
 a.dropdown-toggle:hover {background-color:white !important; color: $bdi-green   !important}
 

.sidebar-nav {
    padding: 9px 0;
}
 


.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

li.social{ transition: all .2s ease-in-out; }
li.social:hover { transform: scale(1.2); background-color:$bdi-green!important;}

li.social:hover {}

